<% provide(:title,  t("static_pages.about.about1")) %>
<h1><%= t(".about")  %></h1>
<p>
  <%= t(".the")  %> <a href="http://www.railstutorial.org/"><em><%= t(".ahert")  %></em></a> <%= t(".is")  %>
  <a href="http://www.railstutorial.org/book"></a>
  <a href="http://screencasts.railstutorial.org/"><%= t(".series")  %></a>
  <%= t(".toeach")  %>
  <a href="http://rubyonrails.org/"><%= t(".thisisd")  %></a>.

</p>
