<!DOCTYPE html>
  <head>
    <title><%= t(".title")%><%= yield :title %> </title>
  </head>
  <body>
    <h1> <%= t(".App") %></h1>
    <p>
      <%= t(".full_name")  %>
      <a href="http://www.railstutorial.org/"><%= t(".ahert")  %></a>
       <%= t(".ahert1")  %>
    </p>
    <%= yield %>
  </body>
</html>
